{% extends 'base.html' %}

{% block title %}Protisruti - Edit Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-7">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Edit Your Profile</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        {% for field in profile_form %}
                            <div class="{% if field.name == 'address' %}col-12{% else %}col-md-6{% endif %} mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">
                                    {{ field.label }}{% if field.field.required %} *{% endif %}
                                </label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger small mt-1">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <a href="{% url 'user_dashboard' %}" class="btn btn-outline-secondary ms-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
